<div th:replace="shared/header"></div>

<section class="partial_produtos">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row d-flex align-items-center">
                <div class="col-8">
                    <h2>Produtos</h2>
                </div>
                <div class="col-4 div-btn-new">
                    <button type="button" onclick="redirectPartial($('.partial_produtos'),'/produto/create')"
                            class="btn btn-success float-end">
                        <i class="fa-solid fa-plus me-1"></i> Adicionar Produto
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section class="list_produtos"></section>
</section>
<div th:replace="shared/footer"></div>

<script>
    $(document).ready(function() {
        obterProdutos();
    });

    async function obterProdutos() {
        loading('show', '.list_produtos');
        $(".list_produtos").load("/produto/getAll", function(result){
            definirDataTables($('#table-produtos'));
            loading('hide', '.list_produtos');
        });
    }

</script>